<script>
  import Header from "./Header.svelte";
  import "./styles.css";
</script>

<div class="app">
  <Header />

  <main>
    <slot />
  </main>
</div>

<style>
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    /* min-height: 100%; */
  }

  @media (max-width: 600px) {
    main {
      max-width: 100%;
    }
  }
</style>
