<script lang="ts">
  import { goto } from "$app/navigation";
  import { dupliquerPartie, parties } from "../stores/parties";
  import NouvellePartie from "./NouvellePartie.svelte";

  function nouvellePartie(partie_id: number) {
    console.log(partie_id);
    let partie = $parties[partie_id];
    console.log(partie);
    if (partie === undefined) {
      throw new Error("partie is undefined");
    }
    let new_partie_id = dupliquerPartie(partie);
    goto("/partie?id_=" + new_partie_id);
  }
</script>

<svelte:head>
  <title>Boulier</title>
  <meta name="description" content="On veut compter des scores" />
</svelte:head>

<section>
  <NouvellePartie />
</section>
<section>
  <h2>Parties en cours</h2>
  {#if $parties}
    <ul>
      {#each Object.values($parties) as partie}
        {#if partie.joueurs}
          <!-- content here -->
          <li>
            <button on:click={() => nouvellePartie(partie.id_)}>📋</button>
            <a href="/partie/?id_={partie.id_}"
              >{Object.values(partie.joueurs)
                .map((j) => j.nom)
                .join(", ")}</a
            >
          </li>
        {/if}
      {/each}
    </ul>
  {:else}
    <p>Aucune partie n'a été créée.</p>
  {/if}
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.6;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    & a {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 30vmax;
    }
  }
</style>
