<script lang="ts">
  import { ajouterPartie, type BaseJoueur } from "../stores/parties";
  import { goto } from "$app/navigation";
  import { writable } from "svelte/store";

  let joueurs = writable(
    new Map<number, BaseJoueur>([
      [0, { id_: 0, nom: null }],
      [1, { id_: 1, nom: null }],
    ]),
  );

  let jeu = "";

  function handleSubmit() {
    let id = ajouterPartie(Array.from($joueurs.values()), jeu);
    goto("/partie/?id_=" + id);
  }

  function ajouterUnJoueur() {
    joueurs.update((joueurs) => {
      let joueur_id = Math.max(...Array.from(joueurs.keys())) + 1;
      joueurs.set(joueur_id, { id_: joueur_id, nom: null });
      return joueurs;
    });
  }

  function supprimerJoueur(joueurId: number) {
    joueurs.update((joueurs) => {
      joueurs.delete(joueurId);
      return joueurs;
    });
  }
</script>

<h2>Nouvelle partie</h2>

<form on:submit|preventDefault={handleSubmit}>
  <ul>
    {#each $joueurs as [id_, joueur], i}
      <li>
        <label>
          <input
            type="text"
            bind:value={joueur.nom}
            placeholder="Joueur {i + 1}"
            tabindex={i + 1}
          />
          <button
            class="supprimer"
            type="button"
            on:click={() => supprimerJoueur(id_)}>❌</button
          >
        </label>
      </li>
    {/each}
    <input
      type="button"
      value="Ajouter un joueur"
      on:click={ajouterUnJoueur}
      tabindex={$joueurs.size + 1}
    />
  </ul>
  <selection-jeu>
    <label>
      Jeu :
      <select bind:value={jeu}>
        <option value=""></option>
        <option value="belote">Belote</option>
      </select>
    </label>
  </selection-jeu>
  <button class="commencer_partie" tabindex={$joueurs.size + 2}
    >Commencer la partie</button
  >
</form>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 0 0 1.5em 0;
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  selection-jeu {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  input {
    height: 2.4em;
    font-size: 1.2em;
    border-radius: 5px;
  }

  button.supprimer {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 2em;
    width: 2em;
    border-radius: 50%;
  }

  button.commencer_partie {
    height: 3em;
    font-size: 1.5em;
    border-radius: 5px;
  }
</style>
