@import "@fontsource/lexend";

html,
body {
  background-color: #f2f2f2;
  font-family: "Lexend", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
