<script lang="ts">
  import { page } from "$app/stores";
  import { writable } from "svelte/store";
  import {
    dupliquerPartie,
    getJoueurStore,
    getPartie,
  } from "../../stores/parties";
  import Joueur from "./Joueur.svelte";
  import { goto } from "$app/navigation";
  import Belote from "./belote.svelte";

  let partie_id_param = $page.url.searchParams.get("id_");
  if (partie_id_param === null) {
    throw new Error("id_ is needed");
  }
  let partie_id = writable(parseInt(partie_id_param));

  let partie = getPartie($partie_id);

  function nouvellePartie() {
    let new_partie_id = dupliquerPartie($partie);
    goto("?id_=" + new_partie_id);
    partie_id.set(new_partie_id);
    partie = getPartie($partie_id);
  }

  function supprimerPartie() {
    goto("/supprimer_partie?id_=" + $partie_id);
  }
</script>

{#if $partie !== undefined && $partie.joueurs !== undefined && !$partie.jeu}
  <joueurs>
    {#each Object.values($partie.joueurs) as joueur}
      <Joueur joueur={getJoueurStore(joueur)} />
    {/each}
  </joueurs>
{:else if $partie.jeu === "belote"}
  <Belote {partie}></Belote>
{/if}

<footer>
  <button on:click={nouvellePartie}
    >Nouvelle partie avec les mêmes joueurs</button
  >
  <button on:click={supprimerPartie}>Supprimer Partie</button>

  <button on:click={() => goto("/")}>Liste des parties</button>
</footer>

<style>
  joueurs {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10vh;
  }

  @media (max-width: 600px) {
    joueurs {
      flex-direction: column;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    & button {
      margin: 0.5em;
      padding: 0.2em;
      font-size: 1em;
      border-radius: 0.5rem;
    }
  }
</style>
