<script lang="ts">
  import type { Readable } from "svelte/store";
  import { getJoueurStore, type Partie } from "../../stores/parties";
  import ModalDetailPoints from "./ModalDetailPoints.svelte";
  import { onMount } from "svelte";

  export let partie: Readable<Partie>;

  let score_joueur1: null | number = null;
  let score_joueur2: null | number = null;
  let show_modal_joueur_1 = false;
  let show_modal_joueur_2 = false;

  let firstInput: HTMLInputElement | undefined = undefined;

  let joueurs = $partie.joueurs;
  if (Object.values(joueurs).length !== 2) {
    throw new Error("Il faut 2 joueurs");
  }
  let joueur1 = getJoueurStore(Object.values(joueurs)[0]);
  let joueur2 = getJoueurStore(Object.values(joueurs)[1]);

  function ajouterScore() {
    if (score_joueur1 === null || score_joueur2 === null) {
      throw new Error("Il faut 2 scores");
    }
    $joueur1.ajouterPoints(score_joueur1);
    $joueur2.ajouterPoints(score_joueur2);

    score_joueur1 = null;
    score_joueur2 = null;
    setFocusFirstInput();
  }

  function fillPoints(points: (number | null)[]) {
    if (points.length >= 12) {
      return points;
    }
    return fillPoints([...points, null]);
  }

  onMount(() => {
    setFocusFirstInput();
  });

  function setFocusFirstInput() {
    if (firstInput) {
      setTimeout(() => firstInput?.focus(), 1000);
    }
  }
</script>

<section>
  <form>
    <table>
      <thead>
        <tr>
          <th>Eux</th>
          <th>Nous</th>
        </tr>
        <tr>
          <th>{$joueur1.points?.reduce((a, b) => a + b, 0)}</th>
          <th>{$joueur2.points?.reduce((a, b) => a + b, 0)}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td on:click={() => (show_modal_joueur_1 = true)}>
            <ul>
              {#each fillPoints($joueur1.points) as point}
                <li>{point === null ? "\xa0" : point}</li>
              {/each}
            </ul>
          </td>
          <td on:click={() => (show_modal_joueur_2 = true)}>
            <ul>
              {#each fillPoints($joueur2.points) as point}
                <li>{point === null ? "\xa0" : point}</li>
              {/each}
            </ul>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td
            ><input
              type="number"
              placeholder="0"
              bind:value={score_joueur1}
              bind:this={firstInput}
            /></td
          >
          <td
            ><input
              type="number"
              placeholder="0"
              bind:value={score_joueur2}
            /></td
          >
        </tr>
        <tr>
          <td colspan="2"
            ><button on:click={ajouterScore}>Ajouter Score</button></td
          >
        </tr>
      </tfoot>
    </table>
  </form>
  <ModalDetailPoints bind:showModal={show_modal_joueur_1} joueur={joueur1} />
  <ModalDetailPoints bind:showModal={show_modal_joueur_2} joueur={joueur2} />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 30rem;

    & thead,
    tbody {
      & td,
      th {
        border-right: 1px solid black;
      }

      & td:last-child,
      th:last-child {
        border-right: 0 solid transparent;
      }
    }
  }
  thead tr:last-child th {
    border-bottom: 1px solid black;
  }
  tbody {
    text-align: center;
    vertical-align: top;
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      overflow-y: scroll;

      & li:nth-child(4n) {
        border-bottom: 1px dotted grey;
      }

      & li:last-child {
        border-bottom: none;
      }
    }
  }
  tfoot {
    text-align: center;

    & input[type="number"] {
      width: 50%;
      font-size: large;
      text-align: center;
    }
  }
  tbody tr:first-child td {
    padding-top: 1rem;
  }
  tfoot {
    border-top: 3rem solid transparent;
  }
</style>
