<script lang="ts">
  import type { Readable } from "svelte/store";
  import type { Joueur } from "../../stores/parties.js";
  import ModalDetailPoints from "./ModalDetailPoints.svelte";
  import PointsEnCours from "./PointsEnCours.svelte";

  export let joueur: Readable<Joueur>;
  let showModal = false;
</script>

<joueur>
  <h4>{$joueur.nom}</h4>
  {#if $joueur.points}
    <points>
      <total>
        {#if $joueur.points.length > 0}
          {#each $joueur.points
            .reduce((points, p) => points + p, 0)
            .toString()
            .split("") as digit}
            <span>{digit}</span>
          {/each}
        {:else}
          <span>0</span>
        {/if}
      </total>
      <PointsEnCours {joueur} />
    </points>
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <detail on:click={() => (showModal = true)}>
      {#each [...$joueur.points].reverse() as point}
        <point>{point}</point>
      {/each}
    </detail>
  {/if}
</joueur>
<ModalDetailPoints bind:showModal {joueur} />

<style>
  joueur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    margin: 3vw;
    padding: 2vw;
    background-color: #fffadd;
    color: #22668d;

    & h4 {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
  }

  total {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & span {
      font-size: 2rem;
      text-align: center;
      border: 1px solid black;
      border-radius: 5px;
      margin-left: 0.1rem;
      padding: 0.2rem;
      width: fit-content;
    }
  }

  detail {
    display: flex;
    flex-direction: column;
    width: 9%;
    height: 15rem;
    max-height: 15rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: auto;
    border-left: 1px solid black;
  }

  @media (max-width: 600px) {
    joueur {
      width: auto;
      margin: unset;
      margin-top: 2vw;
    }
  }
</style>
