<script lang="ts">
  import type { Readable } from "svelte/store";
  import type { Joueur } from "../../stores/parties";

  export let joueur: Readable<Joueur>;
  export let index: number;
  export let points: number;

  let edition = false;

  function finirEdition() {
    $joueur.editerPoints(index, points);
    edition = false;
  }
</script>

<li>
  {#if edition}
    <input
      type="number"
      bind:value={points}
      on:blur={finirEdition}
      on:keydown={(event) => {
        if (event.key === "Enter") {
          finirEdition();
        }
      }}
    />
    <button class="editer" on:click={finirEdition}>ok</button>
  {:else}
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <span on:click={() => (edition = true)}>{points}</span>
  {/if}
  <button
    class="supprimer"
    on:click={() => {
      $joueur.supprimerPoint(index);
    }}>❌</button
  >
</li>

<style>
  li {
    list-style: none;
    position: relative;
    margin-top: 0.3em;
    width: 8em;
  }

  button.supprimer {
    position: absolute;
    right: 0;
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    font-size: 0.8em;
  }

  input[type="number"] {
    width: 4rem;
  }
</style>
