<script lang="ts">
  import type { Readable } from "svelte/store";
  import type { Joueur, Partie } from "../../stores/parties";
  import LignePoint from "./LignePoint.svelte";

  export let showModal = false;
  export let joueur: Readable<Joueur>;
  let dialog: HTMLDialogElement | undefined = undefined;

  $: if (dialog && showModal) dialog.showModal();
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
  bind:this={dialog}
  on:close={() => (showModal = false)}
  on:click|self={() => dialog?.close()}
>
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <!-- svelte-ignore a11y-missing-attribute -->
  <!-- svelte-ignore a11y-invalid-attribute -->
  <a href="#" on:click={() => dialog?.close()}>Fermer</a>
  <h3>Points {$joueur.nom}</h3>
  <ul>
    {#each [...$joueur.points].reverse() as points, index}
      <LignePoint {joueur} index={$joueur.points.length - index - 1} {points} />
    {/each}
  </ul>
</dialog>

<style>
  dialog {
    max-width: 32em;
    border-radius: 0.2em;
    border: none;
    padding: 1em;

    & a {
      border-radius: 0.5rem;
      display: flex;
      float: right;
      font-size: 0.7em;
      justify-content: flex-end;
      margin: 0.5em;
      padding: 0.2em;
      width: 100%;
    }
  }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
  dialog[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
  dialog[open]::backdrop {
    animation: fade 0.2s ease-out;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
