<script lang="ts">
  import { writable, type Readable } from "svelte/store";
  import type { Joueur } from "../../stores/parties";

  export let joueur: Readable<Joueur>;

  let pointsEnCours = writable<undefined | number>(undefined);
  let timeout: number | null = null;
  let pointsEnCoursTag: HTMLElement | undefined = undefined;

  function ajouterPointsEnCours(value: number) {
    pointsEnCours.update((pointsEnCours) => {
      if (pointsEnCours === undefined) {
        pointsEnCours = 0;
      }
      pointsEnCours += value;
      return pointsEnCours;
    });
  }

  function finirTimeoutEspace(event: KeyboardEvent) {
    if (event.key === " ") {
      finirTimeout();
    }
  }

  function finirTimeout() {
    if (timeout !== null) clearTimeout(timeout);
    if ($pointsEnCours === undefined) return;
    $joueur.ajouterPoints($pointsEnCours);
    pointsEnCours.set(undefined);
  }

  $: {
    if ($pointsEnCours !== undefined) {
      pointsEnCoursTag?.removeAttribute("data-is-hidden");
      if (timeout !== null) clearTimeout(timeout);
      timeout = setTimeout(() => {
        if ($pointsEnCours === undefined) return;
        $joueur.ajouterPoints($pointsEnCours);
        pointsEnCours.set(undefined);
      }, 2000);
    } else {
      pointsEnCoursTag?.setAttribute("data-is-hidden", "true");
    }
  }
</script>

<div>
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <pointsencours
    bind:this={pointsEnCoursTag}
    data-is-hidden="true"
    on:click={finirTimeout}
    on:keypress={finirTimeoutEspace}>{$pointsEnCours}</pointsencours
  >

  <grosboutons>
    <button on:click={() => ajouterPointsEnCours(-1)}>-1</button>
    <button on:click={() => ajouterPointsEnCours(1)}>+1</button>
  </grosboutons>
  <petitsboutons>
    <button on:click={() => ajouterPointsEnCours(-10)}>-10</button>
    <button on:click={() => ajouterPointsEnCours(-5)}>-5</button>
    <button on:click={() => ajouterPointsEnCours(5)}>+5</button>
    <button on:click={() => ajouterPointsEnCours(10)}>+10</button>
  </petitsboutons>
</div>

<style>
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  pointsencours {
    display: block;
    height: 2rem;
    width: fit-content;
    background-color: #e7ffdd;
    border: 2px solid #ffcc70;
    padding: 0 0.5rem;
    margin: auto;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: #3085c3;
  }

  button {
    border-radius: 5px;
  }

  grosboutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 4rem;

    & button {
      width: 100%;
      margin: 1rem;
      font-size: 1.5rem;
    }
  }
  petitsboutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    & button {
      width: 100%;
      margin: 1rem;
      font-size: 1rem;
    }
  }

  pointsencours[data-is-hidden] {
    visibility: hidden;
  }

  pointsencours:not([data-is-hidden]) {
    visibility: visible;
  }
</style>
